/* Page style */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0px;
        
    background: #61d1f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #61d1f0 15%, #086ac4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #61d1f0 15%,#086ac4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #61d1f0 15%,#086ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61d1f0', endColorstr='#086ac4',GradientType=0 ); /* IE6-9 */

    color: white;
    font-family: 'Helvetica Neue';
}

body > div, .app {
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
}

/* Top of the page navigation */
.navigation {
    display: flex;
    flex: 0 0 50px;
    align-items: center;
}

        .navigation > * {
            flex: 1 0 auto;
        }

        .navigation button {
            color: white;
            background: none;
            border: none;
        }

        .navigation h1 {
            flex: 10 0 auto;
            text-align: center;

            color: white;
        }

/* Discovery (swiping) stlye */
.discovery {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    height: 100%;

    overflow: hidden;
}

    .discovery-empty {
        flex: 0 1 100%;
        margin: 16px;
    }

        .discovery-empty h2 {
            color: white;
        }

    .discovery-story {
        display: flex;
        flex-direction: column;
        flex: 0 1 100%;

        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .discovery-story .image {
            flex: 0 1 100vh;
        }

        .discovery-story .title {
            flex: 0 1 50px;
            margin-left: 16px;
            margin-right: 16px;

            color: white;
        }

    .discovery-navigation {
        display: flex;
        flex: 0 1 80px;
    }

        .discovery-navigation > * {
            flex: 0 1 50%;
        }

/* Favourites list style */
.favourites {
    margin: 16px;
}

    .favourites h1 {
        color: white;
    }

    .favourites ul {
        list-style: none;
        -webkit-padding-start: 0px;
    }

        .favourites li {
            display: flex;
            flex-direction: column;
        }

            .favourites li .image {
                flex: 0 1 180px;
            }

            .favourites li .title {
                flex: 0 1 50px;

                color: white;
            }

/* Story page style */
.story {
    height: auto;
    min-height: 100%;

    background-color: white;
    color:black;

    
}

    .story > * {
        margin:16px;
    }

    .story .image {
        display: block;
        height: 300px;
        margin: 0px;
    }

    .story .title {
    }

    .story .suburb {
    }

    .story .date {
        font-size: 22px;
        font-weight: 300;
    }


/* General contents */

h1 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    color: #1887EC;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: #1887EC;
}

h3 {
    text-align: left;
    font-size: 18pt;
    font-weight: 200;
    letter-spacing: .5px;
    color: 1887EC;

}

p {
    text-align: left;
    font-size: 16pt;
    font-weight: normal;
    color: 000000;
}

blockquote {
    text-align: center;
    font-size: 17pt;
    font-weight: 400;
    color: 9B9B9B;
}
