#favourites ul {
    list-decoration: none;
}

#favourites li {
    display: flex;
    align-items: center;
}

#favourites li h3 {
    margin-left: 15px;
}

html, body {
  font-family: "proxima-nova", "Open Sans",Corbel, Helvetica,Arial,sans-serif;
}
