/* Page style */
html {
    background-color: #1D1D1D;
}

body {
    margin: 0px;
        
    background: #1D1D1D; /* Old browsers */
    background: -moz-linear-gradient(top,  #202527 15%, #1D1D1D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #202527 15%,#1D1D1D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #202527 15%,#1D1D1D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202527', endColorstr='#1D1D1D',GradientType=0 ); /* IE6-9 */

    color: white;
    font-family: "proxima-nova" /*typekit*/, "Proxima Nova","Open Sans",Corbel,Helvetica,Arial,sans-serif;
}

html, body, body > div {
    height: 100%;
}

.app {
    overflow: auto;
}
.app.screen-size {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Top of the page navigation */
.navigation {
    background: #181717;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

        .navigation button {
            color: white;
            background: none;
            border: none;
            height: inherit; 
            cursor: pointer;
            transition: all 0.3s ease 0s;
            opacity: 1;
        }

        .navigation button:active {
            color:#0A3D78;
        }

        .navigation button:focus {
            outline: 0;
        }

        .navigation button:first-child {
            position: absolute;
            float: left;
            margin-left: 10px;
        }

        .navigation .logo {
            height: 100%;
            text-align: center;
        }

        .navigation .logo img {
            box-sizing: border-box;
            height: 100%;
            width: auto;
            padding: 13px;
        }

/* Discovery (swiping) stlye */
.discovery {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    height: 100%;

    overflow: hidden;
}

    .discovery-empty {
        height: 100%;
        padding-top: 30vh;
    }

        .discovery-empty h2 {
            color: white;
        }
    
    .discovery-story {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 100%;
        margin: 0px 8px;
        margin-top: 65px; /* match height of navigation bar */
        padding-top: 20px;
        padding-bottom: 20px;

        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
            
        cursor: pointer;
    }

        .discovery-story .image {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1 1 0px;

            background-position: center;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
        }

            .discovery-story-image {
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .discovery-story-image i {
                    opacity: 0.5;
                    font-size: 10em;
                }
                .discovery-story-image i.favourite {
                    color: #417505;
                }
                .discovery-story-image i.pass {
                    color: red;
                }

            .discovery-story-details {

                border-radius: 0px 0px 5px 5px;

                text-shadow: 1px 1px 0px black;

                max-width: 500px;
                margin: 0 auto;


                flex: 1;
                display: flex;
                align-items: center;
            }
                .discovery-story-details-inner {
                    background-color: rgba(0,0,0, 0.4);
                    padding: 1em;
                }
                .discovery-story-details .title {
                    color: white;
                    font-weight: 800;
                    margin-bottom: 0;
                    text-align: left;
                }

                .discovery-story-details p {
                    font-weight: 100;
                    margin-top: 0;
                }

                .discovery-story-details p:first-of-type {
                    /* use gradient to create partial border
                     * trick thanks to http://stackoverflow.com/a/27387261/1024811 */
                    background-image: linear-gradient(to right, #FFF 1px, #FFF 40%, rgba(0,0,0,0) 40%);
                    background-position: bottom;
                    background-size: 100% 5px;
                    background-repeat: no-repeat;
                    padding-bottom: 25px;
                    margin-bottom: 10px;
                }

                .discovery-story-details .distance {
                    margin: 0px;
                    font-size: 18px;
                }

    .discovery-navigation {
        display: flex;
        flex: 0 0 80px;
        align-items: stretch;
        justify-content: center;
    }

        .discovery-navigation > * {
            flex: 0 0 auto;
        }

        .discovery-navigation .fa-share {
            transform: rotate(-20deg);
        }

        .discovery-navigation .fa-share.fa-flip-horizontal {
            transform: scale(-1, 1) rotate(-20deg);
        }

        .discovery-navigation button {
            color: white;
            background: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            opacity: 1;
        }

        .discovery-navigation button:first-child {
            margin-right: 3em;
        }

        .discovery-navigation button:last-child {
            margin-left: 3em;
        }

        .discovery-navigation button:active {
            color:#0A3D78;
        }

        .discovery-navigation button:focus {
            outline: 0;
        }

/* Favourites list style */
.favourites {
    margin: 16px;
}

    .favourites .favourites-empty {
        padding-top: 30vh;
    }
        .favourites .favourites-empty h2 {
            color: white;
        }

    .favourites h1 {
        color: white;
    }

    .favourites ul {
        list-style: none;
        -webkit-padding-start: 0px;
        padding-left: 0; /* override firefox default */
    }

        .favourites li {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 16px 0px;

            box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
        }

            .favourites li .image {
                flex: 0 1 100px;

                background-position: center;
            }

            .favourites li .title {
                text-align: left;
                margin: 10px 20px;
                font-weight: 100;
                font-size: 24px;
                color: black;
            }

/* Story page style */
.story {
    height: auto;
    min-height: 100vh;
    margin-top: 65px; /* match height of navigation bar */
    background-color: #FCFCFC; /* just off white */
    color:black;
}

    .story .photos {
        display: flex;
        justify-content: center;
        height: 300px;
        overflow: hidden;
    }

        .story .image {
            flex: 1 0 100%;
            height: 100%;
            width: 100%;

            background-position: center;
        }

        .story .photo-indicators {
            position: relative;
            top: -10px;
            z-index: 1;

            text-align: center;
            color: white;
        }

            .story .photo-indicators i {
                margin: 3px;
                cursor: pointer;
            }

    .story .title, .story .suburb {
        margin: 0;
        background: #77a131;
        text-align: left;
        padding-left: 1rem;
    }
    .story .title {
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
        padding-top: 0.5rem;
        font-weight: 800;
        line-height: 1;
    }

    .story .suburb {
        color: rgba(0,0,0,0.55);
        padding-bottom: 0.5rem;
        font-size: 14px;
        font-weight: bold;
        padding-top: 0.5rem;
    }

    .story .date {
        font-size: 22px;
        font-weight: 300;
    }

    .story .passage {
        padding: 0 1rem;
    }

/* Links list style */
.link {

}

    .links h4 {
        text-align: left;
        margin-bottom: 8px;
    }

    .links ul {
        margin: 8px 0px;
        list-style: none;
        -webkit-padding-start: 0px;
    }

        .links ul li {
            border-bottom: 2px solid #ddd;
        }

        .links ul li:last-child {
            border-bottom: none;
        }

            .links ul li a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px;

                text-decoration: none;
                font-weight: normal;
                color: black;
            }

            .links ul li a:hover {
                background-color: #eee;
            }

                .links ul li a .link-arrow {
                    flex-shrink: 0;
                }

                .links ul li a .link-arrow .external-link {
                    display: none;
                    color: #aaa;
                }
                .links ul li a[href*="//"]:not([href*="heritagenear.me"])
                .link-arrow .external-link {
                    display: inline-block;
                }

                .links ul li a .link-arrow i {
                    float: right;
                    margin-left: 5px;
                    padding: 2px;

                    font-family: FontAwesome;
                    color: #aaa;
                }

/* Loading indicators */
.loading {
    margin: 16px;
    text-align: center;
}

.image {
	background-color: #eee;
}

/* General contents */

h1 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    color: #1887EC;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    color: #1887EC;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: .5px;
    color: #1887EC;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    color: #1887EC;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
}

blockquote {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #9B9B9B;
    font-family:  Georgia, Cambria, 'Times New Roman', Times, serif;
    font-style: italic;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Other tweaks */
.app .fa-inverse {
    color: #1D1D1D;
}
