/* Page style */
html {
    background-color: #1D1D1D;
}

body {
    margin: 0px;
    background: #1D1D1D; /* Old browsers */
    background: -moz-linear-gradient(top,  #202527 15%, #1D1D1D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #202527 15%,#1D1D1D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #202527 15%,#1d1d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202527', endColorstr='#1D1D1D',GradientType=0 ); /* IE6-9 */
    color: white;
    font-family: "proxima-nova" /*typekit;,
    "Proxima Nova","Open Sans",Corbel,Helvetica,Arial,sans-serif;;;;;; */;
}

html, body, body > div {
    height: 100%;
}

.app {
    overflow: auto;
}
.app.screen-size {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.map-container {
    z-index: -1;
    height: 100%;
    width: 100%;
    padding-top: 65px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}
#map {
    width: 100%;
    height: 100%;
}

/* Top of the page navigation */
.navigation {
     background: rgba(24,23,23,0.7);
     height: 65px;
     position: fixed;
     width: 100%;
     z-index: 2;
     display: flex;
     justify-content: space-between;
     box-sizing: border-box;
     padding: 0 1em;
}
.navigation > div {
    flex: 1 0; /* grow, don't shrink */
}
.navigation button {
    height: 100%;
}
.navigation-side2 {
    display: flex;
    justify-content: space-around;
}

/* adjust some screens to start after nav bar
   (but not all: screens with photos start beneath nav bar) */
.about-screen .content-area,
.favourites-screen .favourites,
.story-screen.story-body .fullStory-meta,
.story-screen.story-more-info .content-area,
.discovery-screen .discovery-empty {
    margin-top: 65px;
}

/*.story-screen .navigation, 
.favourites-screen .navigation  {
    background: rgba(0, 0, 0, 0.6);
}*/
    .navigation-center {
        height: 100%;
        text-align: center;
    }
/*    .favourites-screen .navigation-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }*/
    .navigation-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        /*.favourites-screen .navigation-center h1 {*/

        .navigation-center h1 {
            color: white;
            font-size: 24px;
            font-weight: 400;
            margin: 0 auto;
        }

        .navigation button {
            color: white;
            background: none;
            border: none;
            /* height: inherit; */
            cursor: pointer;
            transition: all 0.3s ease 0s;
            opacity: 1;
        }

        .navigation button:active {
            color: #354716;
        }

        .navigation button:focus {
            outline: 0;
        }

        .navigation button:first-child {
            /* position: absolute; */
            /* float: left; */
            /* margin: 0 10px; */
        }

        .navigation .logo {
            height: 100%;
            z-index: 3;
        }

        .navigation .logo img {
            box-sizing: border-box;
            height: 100%;
            width: auto;
            padding: 13px;
        }

/* spinner / loader style */
.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .loader .pacman {
        zoom: 50%;
    }

/* Splash screen style */
.splash-screen {
    height: 100%; /* use full height since there is no nav bar */
    text-align: center;
    position: relative;
}

    .splash-background {
        height: 100%;
        width: 100%;
        background-color: #5A311C;
        background-image: url("/images/splash-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: blur(1px) brightness(28%);
        filter: blur(1px) brightness(28%);
    }

    .splash-content {
        position: absolute;
        top: 20%;
        width: 100%;
    }

        .splash-hero-image img, .splash-app-logo img {
            width: 200px;
        }
        .splash-hero-image img {
            height: 115px;
        }

        .splash-app-logo {
            margin-top: 1em;
        }

    .splash-screen .loader {
        position: absolute;
        top: 75%;
    }

    .splash-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

        .splash-footer img {
            vertical-align: bottom;
            margin-bottom: 10px;
            width: 150px;
        }

/* map style */
.mapboxgl-marker.site-marker {
    background-size: cover;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border-width: 0;
}
    .mapboxgl-marker.site-marker:hover {
        box-shadow: 1px 1px 1px black;
    }

    .mapboxgl-popup-content {
        max-width: 80%;
    }
    .popup-site-overview {
        display: flex;
        height: 100px;
    }
        .popup-site-text {
            flex: 4 0;
            margin-right: 5px;
        }
            .popup-site-text h1 {
                color: black;
                font-size: 14px;
                margin: 0;
                text-align: left;
                font-weight: bold;
            }
        .popup-site-image {
            flex: 0 1;
            height: 100%;
        }
        .popup-site-image img {
            height: 100%;
        }




/* About screen style */
.about-screen {
    background: #383636;
}
    .about-screen section {
        margin: 0 16px;
        color: #F9F9FB;
    }
    .about-screen p {
        padding: 0;
        color: #F9F9FB;
    }
    .about-image {
        margin-top: 12px;
        max-height: 40px;
    }
    .about-screen a {
        color: white;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 15px;
    }
    .about-screen a .external-link {
        color: #DCDCDC;
    }
    .about-screen .content-area {
        padding-bottom: 15px;
    }

/* Discovery (swiping) style */
.discovery {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    height: 100%;

    overflow: hidden;
}

    .discovery-empty {
        height: 100%;
    }

    .discovery-story {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0); 
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        cursor: pointer;
    }

        .discovery-story .image {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex: 1 1 0px;
            background-position: center;
            background-repeat: no-repeat;
        }

        .discovery-story .image::after {
            content: " ";
            background: rgba(0,0,0,0.3);
            height: 100%;
            position: absolute;
            top: 0px;
            display: block;
            right: 0;
            left: 0;
        }

            .discovery-story-image {
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .discovery-story-image i {
                    opacity: 0.5;
                    font-size: 8em;
                    position: absolute;
                    top: 65px;
                    margin: 0rem 1rem;
                }
                .discovery-story-image i.favourite {
                    color: #417505;
                    right: 0;
                }
                .discovery-story-image i.pass {
                    color: red;
                    left: 0;
                }

            .discovery-story-details 
            {
                text-shadow: 1px 1px 1px black;
                flex: 1;
                display: flex;
                align-items: center;
                z-index: 1;
            }
                .discovery-story-details-inner {
                    padding-left: 35px;
                    padding-right: 35px;
                    margin: 2rem auto 0;
                    max-width: 30em;
                }
                .discovery-story-details .title {
                    color: white;
                    font-weight: 900;
                    line-height: 1;
                    font-size: 30px;
                    /* letter-spacing: 0.05rem; */
                    margin-bottom: 0.5rem;
                    text-align: left;
                }
                .fullStory-meta {
                    padding-bottom: 0.5rem;
                    font-size: 16px;
                }

                 .fullStory-meta div, .fullStory-meta p {
                    display: inline;
                    padding-right: 1rem;
                    color: #354716;
                 }

                .fullStory-site {
                    font-weight: 600;
                 }

                 .fullStory-distance {
                     font-size: 16px;
                      font-weight: 300;
                 }

      
                .discovery-story-details p {
                    font-weight: 300;
                    padding: 0;
                    margin-top: 10px;
                }

                .discovery-story-details p:first-of-type {
                    /* use gradient to create partial border
                     * trick thanks to http://stackoverflow.com/a/27387261/1024811 */
                    background-image: linear-gradient(to right, #FFF 1px, #FFF 40%, rgba(0,0,0,0) 40%);
                    background-position: bottom;
                    background-size: 100% 5px;
                    background-repeat: no-repeat;
                    padding-bottom: 20px;
                }

                .discovery-story-distance p{
                    margin: 0px;
                    font-size: 16px;
                   
                }

    .discovery-navigation {
        display: flex;
        flex: 0 0 80px;
        align-items: stretch;
        justify-content: center;
        background: rgba(24, 23, 23, 0);
        position: absolute;
        height: 80px;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

        .discovery-navigation > * {
            flex: 0 0 auto;
        }

        .discovery-navigation .fa-share {
            transform: rotate(-20deg);
        }

        .discovery-navigation .fa-share.fa-flip-horizontal {
            transform: scale(-1, 1) rotate(-20deg);
        }

        .discovery-navigation button {
            color: white;
            background: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            opacity: 1;
        }

        .discovery-navigation button:first-child {
            margin-right: 3em;
        }

        .discovery-navigation button:last-child {
            margin-left: 3em;
        }

        .discovery-navigation button:active {
            color: #354716;
        }

        .discovery-navigation button:focus {
            outline: 0;
        }

/* Favourites list style */
.favourites {
    margin: 16px;
}

    .favourites .favourites-empty {
        padding-top: 30vh;
    }
        .favourites .favourites-empty h2 {
            font-size: 24px;
            font-weight: 600;
            color: white;
        }

        .favourites .favourites-empty p {
            text-align:center;
            font-weight:200;
            font-size: 16px;
            color: #A3A3A3;
            padding-left: 30px;
            padding-right: 30px;
        }

    .favourites h1 {
        color: white;
    }

    .favourites ul {
        list-style: none;
        -webkit-padding-start: 0px;
        padding-left: 0; /* override firefox default */
    }

        .favourites li {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 16px 0px;

            box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
        }

            .favourites li .image {
                flex: 0 1 80px;
                background-position: center;
            }

            .favourites li .title {
                text-align: left;
                margin: 5px 10px;
                font-weight: 600;
                font-size: 16px;
                color: #312F2F;
            }

/* Story main navigation style */
            a.btn .btn-story {
                 /* background: url(https://raw.githubusercontent.com/CodeforAustralia/heritage-near-me/master/prototype/images/STORY.png) no-repeat; */
                 type: block;
           }

            .buttons {
                display: flex;
                justify-content: space-around;
                margin-top: 0.5rem;
            }
            button.btn {
                /* padding top, width, and (transparent but thick) border properties
                   work together to squeeze the background icon image while keeping the
                   button text centered beneath that icon. Bit of a hack? */
                background-size: contain;
                width: 90px;
                border: 12px solid rgba(255, 255, 255, 0);
                font-size: 14px;
                font-weight: 600;
                color: #354716;
                padding: 75px 0 0;
                transition: all 0.1s;
                background-repeat: no-repeat;
                background-color: transparent;
            }
            .buttons .btn-story {
                background-image: url("/images/button-story-off.png");
            }
            .buttons .btn-story:active, .buttons .btn-story:hover, .buttons .btn-story:focus {
                background-image: url("/images/button-story-active.png");
            }
            .buttons .btn-more-info {
                background-image: url("/images/button-more-info-off.png");
            }
            .buttons .btn-more-info:active, .buttons .btn-more-info:hover, .buttons .btn-more-info:focus {
                 background-image: url("/images/button-more-info-active.png");
            }
            .buttons .btn-directions {
                background-image: url("/images/button-directions-off.png");
            }
            .buttons .btn-directions:active, .buttons .btn-directions:hover, .buttons .btn-directions:focus {
                background-image: url("/images/button-directions-active.png");
            }

/* Story loading style */
.story-loading .screen-header {
    position: absolute;
    top: 265px; /* height of photos that load here */
}
    .story-loading .loading {
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        height: 265px;
    }
    .story-loading .loading i.fa {
        top: 50%;
        position: relative;
    }

/* Story page style */
        .story.content-area {
            position: relative; /* so we can absolutely position .fullStory-meta relative to this */
        }
        .story {
            height: auto;
            min-height: 100vh;
            background-color: #FCFCFC; /* just off white */
            color: #343434;
            padding-bottom: 10px;
        }


    .story .photo-slide {
        position: relative; /* to allow photo indicators to be positioned absolutely relative to this. */
    }
    .story .photos {
        display: flex;
        justify-content: center;
        height: 265px;
        overflow: hidden;
    }

        .story .image {
            flex: 1 0 100%;
            height: 100%;
            width: 100%;
            background-position: center;
        }

        .story .photo-indicators {
            position: absolute;
            bottom: 5px;
            text-align: center;
            color: #FFF;
            width: 100%;
        }

            .story .photo-indicators i {
                margin: 3px;
                cursor: pointer;
            }

    .story-meta {
        margin: 0;
        padding-bottom: 8px;
        background: #77a131;
        text-align: left;
        padding-left: 1rem;
    }

    .story-site, .story-suburb, .story-date {
        display: inline-block;
        margin-right: 1em;
        font-size: 1em;
    }    


    .story .title {
        background: #77a131;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
        /* letter-spacing: 0.06rem; */
        margin: 0;
        padding-bottom: 0.2rem;
        font-weight: 800;
        line-height: 1;
        text-align: left;
    }

    .story-site {
        font-weight: 600;
        color: #41571A;
    }

    .story-suburb {
        color: rgba(0,0,0,0.55);
        padding-bottom: 0.5rem;
        font-size: 14px;
        font-weight: bold;
        padding-top: 0.5rem;
    }

    .story-date {
        font-weight: 300;
    }

    .story .passage {
        /* padding: 0 1rem; */
    }

    /* Story intro style */
    .story-intro p:first-child {
        margin-top: 0;
    }


    /* Story body style */
   .story-body {
    }

    .featured-quote {
        font-size: 24px;
        letter-spacing: 0.01rem;
        font-weight: 700;
        color: #628529;
        line-height: 1.2;
    }

   .story-body .image {
        height: 250px;
        z-index: 1;
    }

    .story-body .image::after {
        content: " ";
        background: rgba(0,0,0,0.4);
        height: 100%;
        position: absolute;
        top: 0px;
        display: block;
        right: 0;
        left: 0;
    }

    .story-body .photos {
        height: 250px;
    }

    .story-body .title {
        background:none;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
        letter-spacing: 0.06rem;
        margin: 0;
        padding-top: 1rem;
        /* padding-left: 1rem; */
        padding-bottom: .5rem;
        font-size: 27px;
        font-weight: 700;
        line-height: 1;
        text-align: left;
        z-index: 1;
    }

    .story-body-site {
        color: #FFF;
        z-index: 2;
        position: absolute;
        top: 100px;
    }
   
   .story-body .fullStory-meta {
         background: none;
         position: absolute;
         top: 0;
         margin-left: 0;
         margin-right: 0;
         margin-bottom: 0;
         z-index: 1;
    }
    
   .story-body .fullStory-meta div, .story-body .fullStory-meta p {
        color: #FFF;
        display: block;
        /* position: absolute; */
        /* z-index: 2; */
        /* top: 10px; */
      
    }

    .fullStory-meta div, .fullStory-meta p {
        /* color: #FFF; */
        /* position: absolute; */
        /* top: 150px; */
    }

    .story-body .fullStory-meta .fullStory-site {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: .01rem;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    }

    .story-body .fullStory-meta .fullStory-date {
        font-weight: 200;
        font-size: 14px;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
        padding-top: .5rem;
    }

    .story-body .fullStory-meta .fullStory-suburb {
        display: none;
        /* Hide suburb */
    }

    .story-body .fullStory-meta .fullStory-distance {
        display: none;
        /* Hide distance */
    }

    .story-body .photo-indicators {
        display: none;
        /* Hide photo indicators */
    }

    .story-body .links a {
        display: none;
    }





.screen-header {
    background: #77a131;
    padding: 0.5rem 1rem;
}

/* more info story sub-screen style */
.story-screen.story-more-info {
    background-color: #77a131;
}
    .story-more-info .screen-header {
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
        .screen-header .title {
            
        }

    .heritage-meta-info {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
    }

    .screen-more-info .title {
        font-size: 24px;
        font-weight: 800;
    }


    /* Links list style */
    .links {
        margin: 0 1rem;
    }

    .links h4 {
        text-align: left;
        margin-bottom: 8px;
        /*margin-left: 16px;*/
    }

    .links ul {
        margin: 0 0;
/*      margin: 8px 0px; */
        list-style: none;
        -webkit-padding-start: 0px;
    }

        .links ul li {
            border-bottom: 2px solid #ddd;
        }

        .links ul li:last-child {
            border-bottom: none;
        }

            .links ul li a, .block-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                /*padding-left: 16px;*/
                padding-top: 8px;
                padding-bottom: 8px;
                text-decoration: none;
                font-weight: normal;
                color: black;
            }

            .links ul li a:hover {
                background-color: #eee;
            }

                /*.links ul li a .link-arrow {*/
                /*.links ul li a .link-arrow .external-link {*/

                .link-arrow {
                    flex-shrink: 0;
                }

                .links ul li a .link-arrow .external-link {
                    display: none;
                    color: #aaa;
                }
                .links ul li a[href*="//"]:not([href*="heritagenear.me"])
                .link-arrow .external-link {
                    display: inline-block;
                }

                .link-arrow i {
                    float: right;
                    margin-left: 5px;
                    padding: 2px;

                    font-family: FontAwesome;
                    color: #aaa;
                }

/* Loading indicators */
.loading {
    margin: 16px;
    text-align: center;
}

.image {
	background-color: #eee;
	width: 100%;
	height: 100%;
}

/* General contents */

h1 {
    text-align: center;
    font-size: 27px;
    font-weight: normal;
    color: #1887EC;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: .5px;
    color: #1887EC;
}

h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
    color: #628529;
}

p {
    font-size: 18px;
    /* color:#343434; */
    line-height: 1.4;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: normal;
}

blockquote {
    text-align: left;
    margin-left: 16px;
    font-size: 18px;
    line-height: 1.4;
    color: #343434;
    font-family: "proxima-nova" /*typekit*/, "Proxima Nova","Open Sans",Corbel,Helvetica,Arial,sans-serif;
}

button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Other tweaks */
.app .fa-inverse {
    color: #1D1D1D;
}
